body{
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /*Makes page fill whole screen*/
    display: flex; /*Allows centering content*/
    flex-direction: column; /*Stacks elements vertically (header, then content)*/
    align-items: left; /*Centers content horizontally*/
    padding: 20px; /*Prevents content from touching edges on small screens*/
    box-sizing: border-box; /*Includes padding while calculating width and height*/
}
header{
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    position: sticky;
    top: 0px;
    background-color: lightblue;
}
#containerBig{
    padding-top: 50px;
    padding-left: 50px;
}
#dropdown{
    position: relative;
    float: left;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(180, 180, 180);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
#dropdown:hover .dropdown-content {
  display: block;
}
a{
    text-decoration: none;
    color: #1b63a3;
    width: 100%;
    max-width: 190px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
#theme{
    width: 80px;
    position: absolute; /*Position relative to the nearest positioned ancestor (with position other than static)*/
    top: 70px; /*Consistent spacing from top*/
    right: 5px; /*Consistent spacing from right*/
    padding: 8px 16px; /*Makes button easier to click, especially on mobile*/
}
#container{
    width: 100%;
    max-width: 1500px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#container button{
    float: right;
}
#container li{
    height: 100px;
    width: 100%;
    max-width: 1480px;
    padding-left: 10px;
}
li{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
#li1{
    width: 80px;
    padding: 8px 16px;
    margin-bottom: -5px;
    max-height: 33px;
    margin-left: 750px;
}
#list{
    margin-top: 60px;
    width: 100%;
    padding-left: 5px;
    list-style-position: inside;
}
button{
    width: 100%;
    max-width: 100px;
    padding: 12px;
    font-size: 15px;
    background: linear-gradient(#3d7ebc, #1b63a3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
button:hover{
    opacity: 0.9;
}