body{
    background-color: #1e1e1e;
    color: white;
}
#hed{
    text-align: center;
}
#container{
    border-style: solid;
    border-color: white;
    border-radius: 13px;
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
    bottom: -100px;
}
#logButt{
    background-color: rgb(85, 85, 85);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin: -20px -50px; 
    position:relative;
    left:40%;
}
#regButt{
    background-color: rgb(85, 85, 85);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin: -20px -50px; 
    position:relative;
    left:60%;
}
a:link{
    color: rgb(0, 164, 219);
}
a:visited{
    color: lightblue;
}
a:active{
    color: lightblue;
}
a:hover{
    color: rgb(0, 120, 160);
}