body{
    margin: 0;
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
}
header{
    background-color: white; /* Do Usunięcia */
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    height: 40px;
    width: 860px;
    position: relative;
    top: 150px;
    left: 330px;
}
#img{
    height: 40px;
}
#left{
    background-color: white;
    width: 260px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 330px;
    padding-top: 50px;
    border-radius: 0px 0px 0px 5px;
    
}
#logoLeft{
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#loginBack{
    background-color: white;
    height: 400px;
    width: 600px;
    position: relative;
    top: -300px;
    left: 590px;
    border-radius: 0px 0px 5px 0px;
    padding-top: 50px;
    padding-left: 50px;
}
#login{
    width: 500px;
}
input{
    width: 95%;
    padding: 9px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
}
button{
    width: 98.9%;
    padding: 12px;
    font-size: 15px;
    background: linear-gradient(#3d7ebc, #1b63a3);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}
button:hover{
    opacity: 0.9;
}
a{
    text-decoration: none;
    color: #1b63a3;
}
#mar{
    padding-left: 260px;
}