body{
    margin: 0;
    background: #e7e7e7;
    font-family: Arial, sans-serif;
}
#theme{
    width: 5%;
    position: relative;
    left: 1470px;
}
#header{
    text-align: center;
    width: 800px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    padding-top: 2px;
    border-bottom: 1px solid #ddd;
}
#container{
    width: 800px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: -280px;
}
#content {
    justify-content: space-between;
    padding: 40px 60px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    background-color: white;
}
button{
    width: 98.9%;
    padding: 12px;
    font-size: 15px;
    background: linear-gradient(#3d7ebc, #1b63a3);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;    
}
button:hover{
    opacity: 0.9;
}
a:link{
    color: rgb(0, 164, 219);
}
a:visited{
    color: lightblue;
}
a:active{
    color: lightblue;
}
a:hover{
    color: rgb(0, 120, 160);
}