body{
    margin: 0;
    background: #e7e7e7;
    font-family: Arial, sans-serif;
}
#theme{
    width: 5%;
    position: relative;
    left: 1480px;
}
header{
    background-color: white;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    width: 860px;
    position: relative;
    top: 150px;
    left: 330px;
}
#content{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    height: 200px;
    width: 860px;
    position: relative;
    top: 150px;
    left: 330px;
}
button{
    width: 98.9%;
    padding: 12px;
    font-size: 15px;
    background: linear-gradient(#3d7ebc, #1b63a3);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;    
}
button:hover{
    opacity: 0.9;
}
a:link{
    color: rgb(0, 164, 219);
}
a:visited{
    color: lightblue;
}
a:active{
    color: lightblue;
}
a:hover{
    color: rgb(0, 120, 160);
}